Repository leanprover/cslib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fmontesi, @chenson2018, @m-ow

feat: add Cslib/Computability/Languages/OmegaLanguage.lean
  Cslib.lean
  Cslib/Computability/Languages/OmegaLanguage.lean
Owners: @fmontesi

Incorporate Chris Henson's comments on Cslib/Foundations/Data/Nat/Segment.lean
  Cslib/Foundations/Data/Nat/Segment.lean
Owners: @fmontesi

Incorporate Chris Henson's comments on Cslib/Foundations/Data/OmegaSequence/Flatten.lean
  Cslib/Foundations/Data/OmegaSequence/Flatten.lean
Owners: @fmontesi

Fix a too-long line on Cslib/Foundations/Data/OmegaSequence/Flatten.lean
  Cslib/Foundations/Data/OmegaSequence/Flatten.lean
Owners: @fmontesi

bump
  lake-manifest.json
  lakefile.toml
  lean-toolchain
Owners: @fmontesi

delete
  Cslib/Languages/LambdaCalculus/LocallyNameless/Context.lean
Owners: @chenson2018

Merge main into nightly-testing
  lake-manifest.json
Owners: @fmontesi

Merge main into nightly-testing
  lake-manifest.json
  lean-toolchain
Owners: @fmontesi

Merge main into nightly-testing
  lake-manifest.json
Owners: @fmontesi

chore: bump to nightly-2025-10-17 with mathlib at nightly-testing-2025-10-17
  lake-manifest.json
  lakefile.toml
  lean-toolchain
Owners: @fmontesi

Considering the transitively closed \tau relation
  Cslib/Foundations/Semantics/LTS/Basic.lean
  Cslib/Foundations/Semantics/LTS/Bisimulation.lean
Owners: @fmontesi

Perhaps keep those STrN theorems after all?
  Cslib/Foundations/Semantics/LTS/Basic.lean
Owners: @fmontesi

bump Mathlib
  lake-manifest.json
  lakefile.toml
  lean-toolchain
Owners: @fmontesi

bump mathlib
  lake-manifest.json
  lakefile.toml
Owners: @fmontesi

adaptation note
  Cslib/Computability/Automata/NFAToDFA.lean
Owners: @fmontesi

fix grind problems in LambdaCalculus
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/WellFormed.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Untyped/Properties.lean
Owners: @chenson2018

more fixes in LambdaCalculus
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Subtype.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/WellFormed.lean
Owners: @chenson2018

another append_assoc
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Typing.lean
Owners: @chenson2018

grind failures
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Typing.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Untyped/FullBetaConfluence.lean
  Cslib/Logics/LinearLogic/CLL/PhaseSemantics/Basic.lean
Owners: @chenson2018, @fmontesi, @m-ow

specify patterns
  Cslib/Computability/Automata/EpsilonNFAToNFA.lean
  Cslib/Computability/Automata/NFA.lean
  Cslib/Foundations/Semantics/LTS/Basic.lean
  Cslib/Foundations/Semantics/LTS/Bisimulation.lean
  Cslib/Languages/CCS/Basic.lean
  Cslib/Languages/CCS/BehaviouralTheory.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Opening.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Subtype.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Typing.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/WellFormed.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Stlc/Basic.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Untyped/Basic.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Untyped/FullBeta.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Untyped/FullBetaConfluence.lean
  Cslib/Logics/LinearLogic/CLL/Basic.lean
  Cslib/Logics/LinearLogic/CLL/MProof.lean
  Cslib/Logics/LinearLogic/CLL/PhaseSemantics/Basic.lean
Owners: @fmontesi, @chenson2018, @m-ow

Merge main into nightly-testing
  lake-manifest.json
Owners: @fmontesi

Merge main into nightly-testing
  lake-manifest.json
  lean-toolchain
Owners: @fmontesi

Merge main into nightly-testing
  lake-manifest.json
Owners: @fmontesi

chore: bump to nightly-2025-10-20 with mathlib at nightly-testing-2025-10-20
  lake-manifest.json
  lakefile.toml
  lean-toolchain
Owners: @fmontesi

chore(Languages/CCS): Mathlib linting, more readable proof of Act.Co decidability
  Cslib/Languages/CCS/Basic.lean
Owners: @fmontesi

chore: add Cslib.Languages.CombinatoryLogic.Evaluation to Cslib.lean
  Cslib.lean
Owners: @fmontesi

chore: bump toolchain to v4.25.0-rc1
  docs/lakefile.toml
  docs/lean-toolchain
  lake-manifest.json
  lakefile.toml
  lean-toolchain
Owners: @fmontesi, @chenson2018

chore: bump to nightly-2025-10-21 with mathlib at nightly-testing-2025-10-21
  lake-manifest.json
  lakefile.toml
  lean-toolchain
Owners: @fmontesi

fix incorrect merge
  Cslib/Languages/CCS/Basic.lean
Owners: @fmontesi

fix merge
  Cslib/Languages/CCS/Basic.lean
Owners: @fmontesi

Update Cslib/Logics/LinearLogic/CLL/PhaseSemantics/Basic.lean
  Cslib/Logics/LinearLogic/CLL/PhaseSemantics/Basic.lean
Owners: @fmontesi, @m-ow

match Kim's formatting in using adaptation_note
  Cslib/Languages/LambdaCalculus/LocallyNameless/Untyped/FullBetaConfluence.lean
Owners: @chenson2018

set toolchain to a nightly
  lean-toolchain
Owners: @fmontesi

chore: replace phi by f to avoid potential name conflict with Euler totient function
  Cslib/Foundations/Data/Nat/Segment.lean
Owners: @fmontesi

chore: bump toolchain to v4.25.0-rc2
  docs/lakefile.toml
  docs/lean-toolchain
  lake-manifest.json
  lakefile.toml
  lean-toolchain
Owners: @fmontesi, @chenson2018

feat: char theorems and grind annotations for FinFun
  Cslib/Foundations/Data/FinFun.lean
Owners: @fmontesi

fix: annotate grind correctly in FinFun.eq_char
  Cslib/Foundations/Data/FinFun.lean
Owners: @fmontesi

chore: lake update to fixed Mathlib cache
  lake-manifest.json
Owners: @fmontesi

some docs and better structuring
  Cslib/Foundations/Data/FinFun.lean
Owners: @fmontesi

Update Cslib/Foundations/Data/FinFun.lean
  Cslib/Foundations/Data/FinFun.lean
Owners: @fmontesi

.github/CODEOWNERS:

* @fmontesi
/docs @fmontesi @chenson2018
/CslibTests @fmontesi @chenson2018

/Cslib/Languages/LambdaCalculus/ @chenson2018
/Cslib/Languages/CCS/ @fmontesi
/Cslib/Logics/ @fmontesi @m-ow
