Repository leanprover/cslib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fmontesi, @chenson2018, @m-ow

feat: add Cslib/Foundations/Data/OmegaSequence/*
  Cslib.lean
  Cslib/Foundations/Data/OmegaSequence/Defs.lean
  Cslib/Foundations/Data/OmegaSequence/Init.lean
  CslibTests.lean
Owners: @fmontesi

Incorporte Chris Henson's comments on OmegaSequence
  Cslib/Foundations/Data/OmegaSequence/Defs.lean
  Cslib/Foundations/Data/OmegaSequence/Init.lean
Owners: @fmontesi

Mark some theorems related to by @[simp]
  Cslib/Foundations/Data/OmegaSequence/Init.lean
Owners: @fmontesi

chore: don't check docs toolchain unless in a PR or main branch
  .github/workflows/lean_action_ci.yml
Owners: @fmontesi

chore: bump toolchain to v4.24.0
  docs/lean-toolchain
  lake-manifest.json
  lakefile.toml
  lean-toolchain
Owners: @fmontesi, @chenson2018

update for changes in Mathlib
  Cslib/Languages/LambdaCalculus/LocallyNameless/Context.lean
Owners: @chenson2018

whitespace
  Cslib/Logics/LinearLogic/CLL/PhaseSemantics/Basic.lean
Owners: @fmontesi, @m-ow

mathlib changes
  Cslib/Languages/LambdaCalculus/LocallyNameless/Context.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Opening.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Subtype.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Typing.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/WellFormed.lean
Owners: @chenson2018

update lint action
  .github/workflows/lean_lint_suggest.yml
Owners: @fmontesi

disable some linters
  lakefile.toml
Owners: @fmontesi

add link to discussion
  lakefile.toml
Owners: @fmontesi

Incorporate Fabrizio Montesi's comments and add [scoped grind =] annotations
  Cslib/Foundations/Data/OmegaSequence/Defs.lean
  Cslib/Foundations/Data/OmegaSequence/Init.lean
Owners: @fmontesi

Computability folder done
  Cslib/Computability/Automata/DA.lean
  Cslib/Computability/Automata/DFA.lean
  Cslib/Computability/Automata/DFAToNFA.lean
  Cslib/Computability/Automata/EpsilonNFA.lean
  Cslib/Computability/Automata/EpsilonNFAToNFA.lean
  Cslib/Computability/Automata/NA.lean
  Cslib/Computability/Automata/NFA.lean
  Cslib/Computability/Automata/NFAToDFA.lean
Owners: @fmontesi

Standardised linebreak between namespaces (half were this way half that). Finished Foundations/Control and Foundations/Data
  Cslib/Computability/Automata/DA.lean
  Cslib/Computability/Automata/DFA.lean
  Cslib/Computability/Automata/DFAToNFA.lean
  Cslib/Foundations/Control/Monad/Free.lean
  Cslib/Foundations/Control/Monad/Free/Effects.lean
  Cslib/Foundations/Control/Monad/Free/Fold.lean
  Cslib/Foundations/Data/FinFun.lean
  Cslib/Foundations/Data/HasFresh.lean
  Cslib/Foundations/Data/Relation.lean
Owners: @fmontesi

Foundations done
  Cslib/Foundations/Semantics/LTS/Basic.lean
  Cslib/Foundations/Semantics/LTS/Bisimulation.lean
  Cslib/Foundations/Semantics/LTS/Simulation.lean
  Cslib/Foundations/Semantics/LTS/TraceEq.lean
  Cslib/Foundations/Semantics/ReductionSystem/Basic.lean
  Cslib/Foundations/Syntax/HasAlphaEquiv.lean
  Cslib/Foundations/Syntax/HasSubstitution.lean
  Cslib/Foundations/Syntax/HasWellFormed.lean
Owners: @fmontesi

Check the two tests
  Cslib/Languages/CCS/Basic.lean
  Cslib/Languages/CCS/BehaviouralTheory.lean
  Cslib/Languages/CCS/Semantics.lean
  Cslib/Languages/CombinatoryLogic/Basic.lean
  Cslib/Languages/CombinatoryLogic/Confluence.lean
  Cslib/Languages/CombinatoryLogic/Defs.lean
  Cslib/Languages/CombinatoryLogic/Recursion.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Context.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Untyped/Basic.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Untyped/FullBeta.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Untyped/FullBetaConfluence.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Untyped/Properties.lean
  Cslib/Languages/LambdaCalculus/Named/Untyped/Basic.lean
  Cslib/Logics/LinearLogic/CLL/Basic.lean
  Cslib/Logics/LinearLogic/CLL/CutElimination.lean
  Cslib/Logics/LinearLogic/CLL/MProof.lean
  CslibTests/Bisimulation.lean
  CslibTests/CCS.lean
  CslibTests/DFA.lean
  CslibTests/FreeMonad.lean
  CslibTests/HasFresh.lean
  CslibTests/LTS.lean
  CslibTests/LambdaCalculus.lean
  CslibTests/ReductionSystem.lean
Owners: @fmontesi, @chenson2018, @m-ow

SubF folder
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Basic.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Opening.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Reduction.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Safety.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Subtype.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/Typing.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Fsub/WellFormed.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Stlc/Basic.lean
  Cslib/Languages/LambdaCalculus/LocallyNameless/Stlc/Safety.lean
Owners: @chenson2018

remove/update LTS and ReductionSystem namespace tests
  CslibTests/LTS.lean
  CslibTests/ReductionSystem.lean
Owners: @fmontesi, @chenson2018

a testing lint
  CslibTests/FreeMonad.lean
Owners: @fmontesi, @chenson2018

opening namespaces locally required _root_.<namespace> now
  Cslib/Languages/LambdaCalculus/LocallyNameless/Stlc/Safety.lean
Owners: @chenson2018

PhaseSemantics.lean fixed
  Cslib/Logics/LinearLogic/CLL/PhaseSemantics/Basic.lean
Owners: @fmontesi, @m-ow

Open _root_.Relation and _root_.Relation.ReflTransGen more locally in Cslib.Foundations.Data.Relation
  Cslib/Foundations/Data/Relation.lean
Owners: @fmontesi

chore: add scripts/README.md
  scripts/README.md
Owners: @fmontesi

chore: run 'lake exe mk_all'
  Cslib.lean
  CslibTests.lean
Owners: @fmontesi

Update CslibTests.lean
  CslibTests.lean
Owners: @fmontesi

fix lake-manifest in docs
  docs/lake-manifest.json
Owners: @fmontesi, @chenson2018

fix other lake-manifest
  lake-manifest.json
Owners: @fmontesi

fix again?
  lake-manifest.json
  lean-toolchain
Owners: @fmontesi

once more with feeling
  lake-manifest.json
  lean-toolchain
Owners: @fmontesi

namespace Evaluation
  Cslib/Languages/CombinatoryLogic/Evaluation.lean
Owners: @fmontesi

take manifest from main
  lake-manifest.json
Owners: @fmontesi

rm unicode id
  Cslib/Languages/CombinatoryLogic/Basic.lean
Owners: @fmontesi

fix namespaces
  Cslib/Languages/CombinatoryLogic/Basic.lean
  Cslib/Languages/CombinatoryLogic/Confluence.lean
  Cslib/Languages/CombinatoryLogic/Defs.lean
  Cslib/Languages/CombinatoryLogic/Evaluation.lean
  Cslib/Languages/CombinatoryLogic/Recursion.lean
Owners: @fmontesi

remove commented-out code
  Cslib/Languages/CombinatoryLogic/Defs.lean
Owners: @fmontesi

add workflow to check for commit convention
  .github/workflows/pr-title.yml
Owners: @fmontesi

allow directory
  .github/workflows/pr-title.yml
Owners: @fmontesi

add comment
  .github/workflows/pr-title.yml
Owners: @fmontesi

chore: add namespace Cslib to Cslib/Foundations/Data/OmegaSequence
  Cslib/Foundations/Data/OmegaSequence/Defs.lean
  Cslib/Foundations/Data/OmegaSequence/Init.lean
Owners: @fmontesi

feat: add Cslib/Foundations/Data/OmegaSequence/Flatten.lean
  Cslib.lean
  Cslib/Foundations/Data/OmegaSequence/Flatten.lean
Owners: @fmontesi

feat: add Cslib/Foundations/Data/Nat/Segment.lean
  Cslib.lean
  Cslib/Foundations/Data/Nat/Segment.lean
Owners: @fmontesi

.github/CODEOWNERS:

* @fmontesi
/docs @fmontesi @chenson2018
/CslibTests @fmontesi @chenson2018

/Cslib/Languages/LambdaCalculus/ @chenson2018
/Cslib/Languages/CCS/ @fmontesi
/Cslib/Logics/ @fmontesi @m-ow
