Repository leanprover/cslib, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cs-lean/jokers, @cs-lean/reviewers, @cs-lean/lambda-calculus, @cs-lean/concurrency-theory, @cs-lean/logic

.github/CODEOWNERS:

* @cs-lean/jokers
/docs @cs-lean/reviewers
/CslibTests @cs-lean/reviewers

/Cslib/Computability/LambdaCalculus/ @cs-lean/lambda-calculus
/Cslib/ConcurrencyTheory/ @cs-lean/concurrency-theory
/Cslib/Logic/ @cs-lean/logic

fix linting again
  .github/workflows/lean_lint_suggest.yml
Owners: @cs-lean/jokers

Locally nameless STLC (#17)
  Cslib/Computability/LambdaCalculus/LocallyNameless/Stlc/Basic.lean
  Cslib/Computability/LambdaCalculus/LocallyNameless/Stlc/Context.lean
  Cslib/Computability/LambdaCalculus/LocallyNameless/Stlc/Safety.lean
  Cslib/Computability/LambdaCalculus/LocallyNameless/Untyped/AesopRuleset.lean
  Cslib/Computability/LambdaCalculus/LocallyNameless/Untyped/Basic.lean
  Cslib/Computability/LambdaCalculus/LocallyNameless/Untyped/FullBeta.lean
  Cslib/Computability/LambdaCalculus/LocallyNameless/Untyped/FullBetaConfluence.lean
  Cslib/Computability/LambdaCalculus/LocallyNameless/Untyped/Properties.lean
  Cslib/Computability/LambdaCalculus/Named/Untyped/Basic.lean
  CslibTests/LambdaCalculus.lean
Owners: @cs-lean/lambda-calculus, @cs-lean/reviewers

minor move
  Cslib/ConcurrencyTheory/CCS/BehaviouralTheory.lean
Owners: @cs-lean/concurrency-theory

use notation3 for Lts and ReductionSystem (#25)
  Cslib/Semantics/Lts/Basic.lean
  Cslib/Semantics/ReductionSystem/Basic.lean
  CslibTests/Lts.lean
  CslibTests/ReductionSystem.lean
Owners: @cs-lean/jokers, @cs-lean/reviewers

some proof_wanted in CCS
  Cslib/ConcurrencyTheory/CCS/BehaviouralTheory.lean
Owners: @cs-lean/concurrency-theory

begin parassoc
  Cslib/ConcurrencyTheory/CCS/BehaviouralTheory.lean
Owners: @cs-lean/concurrency-theory
